In [14]:
import pandas as pd
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import numpy as np
from nltk.tag import pos_tag
from nltk.tokenize import WordPunctTokenizer
import spacy

In [3]:
X_train = pd.read_csv('X_train.csv')
X_test = pd.read_csv('X_test.csv')
y_train = pd.read_csv('y_train.csv')
y_test = pd.read_csv('y_test.csv')

In [4]:
y_train['train_dataset'] = 1
y_test['train_dataset'] = 0

X = pd.concat([X_train, X_test])
y = pd.concat([y_train, y_test])

X.reset_index(drop=True, inplace=True)
y.reset_index(drop=True, inplace=True)

df = pd.concat([X, y], axis = 1)

In [5]:
df.head()

,title,text,date,domestic,title_word_count,text_word_count,title_uppercase_count,title_lowercase_count,title_all_letter_count,title_special_count,...,text_all_letter_count,text_special_count,text_!,text_?,text_#,text_%,text_$,text_parentheses,is_true,train_dataset
0,Trump Just Accidentally Gave America The Grea...,Donald Trump wanted to give his supporters a s...,2016-04-24,1,14,485,13,51,64,0,...,2021,5,0,1,0,0,0,4,0,1
1,U.N. torture envoy concerned at water-boarding...,GENEVA (Reuters) - The U.N. torture investigat...,2016-03-09,1,10,377,4,50,54,0,...,1895,2,0,0,0,0,0,2,1,1
2,Robert Kennedy Jr. says tapped by Trump to hea...,CHICAGO (Reuters) - Vaccination skeptic Robert...,2017-01-10,1,12,690,4,53,57,0,...,3501,7,1,0,0,0,0,6,1,1
3,More arrests in apparent Saudi campaign agains...,(Reuters) - Saudi Arabia has detained more cle...,2017-09-12,0,9,539,2,55,57,0,...,2702,4,0,0,0,0,0,4,1,1
4,Illinois ends spring session without a FY 2017...,"SPRINGFIELD, Ill. (Reuters) - The Democrat-con...",2016-05-31,1,9,592,3,38,41,0,...,3020,10,0,0,0,0,6,4,1,1

In [6]:
cvec = CountVectorizer(stop_words='english')
cvec.fit(df['text'])
vec_df = pd.DataFrame(cvec.transform(df['text']).todense(),
                      columns = cvec.get_feature_names())

In [7]:
df.describe()

,domestic,title_word_count,text_word_count,title_uppercase_count,title_lowercase_count,title_all_letter_count,title_special_count,title_!,title_?,title_#,...,text_all_letter_count,text_special_count,text_!,text_?,text_#,text_%,text_$,text_parentheses,is_true,train_dataset
count,39858.000000,39858.000000,39858.000000,39858.000000,39858.000000,39858.000000,39858.000000,39858.000000,39858.000000,39858.000000,...,39858.000000,39858.000000,39858.000000,39858.000000,39858.000000,39858.000000,39858.000000,39858.000000,39858.000000,39858.000000
mean,0.729816,12.164685,416.125847,13.750489,49.146796,62.897285,0.333785,0.059963,0.033318,0.015355,...,1983.638717,5.191204,0.366451,0.622209,0.173265,0.058483,0.428346,3.542451,0.532164,0.749987
std,0.444060,3.764510,358.401114,14.581771,13.173449,17.801389,0.704135,0.262801,0.189532,0.128351,...,1729.653051,12.849245,1.409910,1.753961,1.041448,0.810225,1.769956,10.553744,0.498971,0.433025
min,0.000000,3.000000,1.000000,1.000000,0.000000,12.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,10.000000,213.000000,3.000000,43.000000,52.000000,0.000000,0.000000,0.000000,0.000000,...,1009.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.250000
50%,1.000000,11.000000,374.000000,6.000000,50.000000,59.000000,0.000000,0.000000,0.000000,0.000000,...,1771.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,1.000000,1.000000
75%,1.000000,14.000000,524.000000,20.000000,56.000000,71.000000,0.000000,0.000000,0.000000,0.000000,...,2482.000000,6.000000,0.000000,1.000000,0.000000,0.000000,0.000000,4.000000,1.000000,1.000000
max,1.000000,45.000000,8436.000000,137.000000,167.000000,233.000000,6.000000,4.000000,3.000000,4.000000,...,42044.000000,1756.000000,133.000000,94.000000,53.000000,122.000000,129.000000,1526.000000,1.000000,1.000000

In [8]:
vec_df.shape

(39858, 121546)

Using [this resource](http://openbookproject.net/courses/python4fun/spellcheck.html) to do some spell checking

In [9]:
words = open("spellcheck.txt").readlines()
words = [word.strip() for word in words]

real_words = []

for i, col in enumerate(vec_df):
    if col in words:
        real_words.append(col)
    if i % 10000 == 0:
        print(i)
        
        
vec_df = vec_df[real_words]

0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000

In [10]:
analyzer = SentimentIntensityAnalyzer()

df['title_sa_neg'] = 0
df['title_sa_pos'] = 0
df['title_sa_neu'] = 0
df['title_sa_compound'] = 0

print('Title Sentiment Analysis')
for i, t in enumerate(df.title.values):
    vs = analyzer.polarity_scores(t)
    df.loc[i, 'title_sa_neg'] = vs['neg']
    df.loc[i, 'title_sa_pos'] = vs['pos']
    df.loc[i, 'title_sa_neu'] = vs['neu']
    df.loc[i, 'title_sa_compound'] = vs['compound']
    if (i % 3000) == 0:
        print(i)

Title Sentiment Analysis
0
3000
6000
9000
12000
15000
18000
21000
24000
27000
30000
33000
36000
39000

In [11]:
df['text_sa_neg'] = 0
df['text_sa_pos'] = 0
df['text_sa_neu'] = 0
df['text_sa_compound'] = 0

print('Text Sentiment Analysis')        
for i, t in enumerate(df.text.values):
    vs = analyzer.polarity_scores(t)
    df.loc[i, 'text_sa_neg'] = vs['neg']
    df.loc[i, 'text_sa_pos'] = vs['pos']
    df.loc[i, 'text_sa_neu'] = vs['neu']
    df.loc[i, 'text_sa_neu'] = vs['compound']
    if (i % 3000) == 0:
        print(i)

Text Sentiment Analysis
0
3000
6000
9000
12000
15000
18000
21000
24000
27000
30000
33000
36000
39000

In [12]:
df

,title,text,date,domestic,title_word_count,text_word_count,title_uppercase_count,title_lowercase_count,title_all_letter_count,title_special_count,...,is_true,train_dataset,title_sa_neg,title_sa_pos,title_sa_neu,title_sa_compound,text_sa_neg,text_sa_pos,text_sa_neu,text_sa_compound
0,Trump Just Accidentally Gave America The Grea...,Donald Trump wanted to give his supporters a s...,2016-04-24,1,14,485,13,51,64,0,...,0,1,0.136,0.239,0.625,0.4215,0.170,0.124,-0.9905,0
1,U.N. torture envoy concerned at water-boarding...,GENEVA (Reuters) - The U.N. torture investigat...,2016-03-09,1,10,377,4,50,54,0,...,1,1,0.302,0.000,0.698,-0.5994,0.182,0.067,-0.9956,0
2,Robert Kennedy Jr. says tapped by Trump to hea...,CHICAGO (Reuters) - Vaccination skeptic Robert...,2017-01-10,1,12,690,4,53,57,0,...,1,1,0.000,0.203,0.797,0.4215,0.056,0.061,-0.3968,0
3,More arrests in apparent Saudi campaign agains...,(Reuters) - Saudi Arabia has detained more cle...,2017-09-12,0,9,539,2,55,57,0,...,1,1,0.435,0.000,0.565,-0.6590,0.142,0.067,-0.9930,0
4,Illinois ends spring session without a FY 2017...,"SPRINGFIELD, Ill. (Reuters) - The Democrat-con...",2016-05-31,1,9,592,3,38,41,0,...,1,1,0.000,0.000,1.000,0.0000,0.139,0.087,-0.9836,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39853,Hillary Clinton DESTROYS Trump And Cruz Durin...,Hillary Clinton delivered an inspiring speech ...,2016-03-23,1,15,428,25,52,77,2,...,0,0,0.463,0.117,0.420,-0.8494,0.141,0.071,-0.9890,0
39854,Indian police arrest Christian priest after co...,NEW DELHI (Reuters) - Indian police arrested a...,2017-12-16,0,10,388,3,56,59,0,...,1,0,0.365,0.000,0.635,-0.5574,0.155,0.032,-0.9938,0
39855,Obama to protesters: We're all Americans - Whi...,WASHINGTON (Reuters) - U.S. President Barack O...,2016-11-10,1,9,90,5,38,43,0,...,1,0,0.192,0.000,0.808,-0.2263,0.015,0.107,0.8705,0
39856,Trump says wall may not need to cover entire U...,PARIS (Reuters) - President Donald Trump said ...,2017-07-13,1,11,319,4,46,50,0,...,1,0,0.000,0.000,1.000,0.0000,0.042,0.030,-0.6357,0
39857,Abused Reporter Throws Karma Back In The Face...,"After being assaulted at a Donald Trump rally,...",2016-03-11,1,14,475,13,55,68,0,...,0,0,0.412,0.000,0.588,-0.8271,0.187,0.043,-0.9978,0

# POS

In [15]:
en_nlp = spacy.load('en')

parsed_quotes = []
for i, parsed in enumerate(en_nlp.pipe(df.text.values, batch_size=50, n_threads=4)):
    assert parsed.is_parsed
    if (i % 1000) == 0:
        print(i)
    parsed_quotes.append(parsed)
unique_pos = []
for parsed in parsed_quotes:
    unique_pos.extend([t.pos_ for t in parsed])
unique_pos = np.unique(unique_pos)
for pos in unique_pos:
    df[pos+'_prop'] = 0.
for i, parsed in enumerate(parsed_quotes):
    if (i % 1000) == 0:
        print(i)
    parsed_len = len(parsed)
    for pos in unique_pos:
        count = len([x for x in parsed if x.pos_ == pos])
        try:
            df.loc[i, pos+'_prop'] = float(count)/parsed_len    
        except:
            pass

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000

In [16]:
X_train = df[df.train_dataset == 1].drop(columns = ['is_true', 'train_dataset'])
X_test = df[df.train_dataset == 0].drop(columns = ['is_true', 'train_dataset'])

X_train.to_csv('X_train_w_SA.csv', index = False)
X_test.to_csv('X_test_w_SA.csv', index = False)
vec_df.to_csv('vectorized.csv', index=False)